@{
    ViewBag.Title = "Error";
    Layout = "_LayoutCorporational";
}

<h2>title</h2>

<h2>Wysłanie wiadomości nie powiodło się</h2>

<a asp-action="Index" value="Anuluj" class="btn btn-secondary">Powrót</a>
