@model IEnumerable<SWZRFI.DTO.UserRoles>

@{
    ViewBag.Title = "Pracownicy";
    Layout = "_LayoutCorporational";
}

<h2>Pracownicy</h2>

@if (Model.Any()) { 

    <div class="container">
        


        <div class="row">

            <div class="col-sm-11">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th style="text-align: right">
                                <h4>Imię</h4>
                            </th>
                            <th style="text-align: right">
                                <h4>Nazwisko</h4>
                            </th>
                            <th style="text-align: right">
                                <h4>Email</h4>
                            </th>
                            <th style="text-align: right; border-right: none">
                                <h4>Przypisane role</h4>
                            </th>
                            <th style="border-right:none; border-left:none">

                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: right">@item.UserAccount.FirstName</td>
                                <td style="text-align: right">@item.UserAccount.LastName</td>
                                <td style="text-align: right">@item.UserAccount.Email</td>
                                <td style="text-align: right; border-right: none">
                                    @foreach (var role in item.IdentityRoles)
                                    {
                                        @if (role.Name != "PersonalAccount")
                                        {
                                            @if (role.Name == "RecruitersAccount")
                                            {
                                                <div>
                                                    Rekruter<br>
                                                </div>
                                            }
                                            else if (role.Name == "ManagerAccount")
                                            {
                                                <div>
                                                    Manager<br>
                                                </div>
                                            }

                                        }

                                    }
                                </td>
                                <td style="text-align: right;
                                border-right: none;
                                border-left: none">
                                    <a asp-action="EditCompany" class="btn btn-sm btn-secondary" role="button">Zawieś</a>
                                    <a asp-action="EditCompany" class="btn btn-sm btn-danger" role="button">Usuń</a>
                                </td>
                            </tr>
                        }

                    </tbody>


                </table>


            </div>
            <a asp-action="EditUserRoles" class="btn btn-sm btn-primary" role="button">Edytuj role pracowników</a>
            <a style="margin-left:10px" asp-action="SendInvitationCodeToUser" class="btn btn-sm btn-primary" role="button">Zaproś nowego pracownika</a>
        </div>
    </div>
}

<style>
    td, th {
        border-right: solid 1px #454D55;
        border-left: solid 1px #454D55;
        border-bottom: solid 1px #454D55;
    }
</style>