@using Microsoft.AspNetCore.Identity
@using SWZRFI.DAL.Models
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@if (SignInManager.IsSignedIn(User))
{

    <h2>Witaj @User.Identity?.Name!</h2>

}
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ConversationPanelNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
