@model SWZRFI.DAL.Models.Company;

@{
    ViewBag.Title = "Prezentacja firmy";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    
    <div class="row">
        
        

    </div>

</div>