@{
    ViewBag.Title = "Error";
    Layout = "_LayoutCorporational";
}


<h1>@ViewData["Title"]</h1>

<h3>Nie posiadasz uprawnień do wykonania tej akcji</h3>

<a asp-action="Index"  class="btn btn-primary btn-sm" role="button" style="margin-top: 10px">Powrót</a>
