@using SWZRFI.DAL.Models

@inject SignInManager<UserAccount> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity"
           asp-page="/Account/Manage/Index" title="Manage">
            Ustawienia
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ActionPanelNavPages.IndexNavClass(ViewContext)"
           id="index" asp-page="./Index">
            Hasło
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ActionPanelNavPages.MessagesNavClass(ViewContext)"
           id="messages" asp-page="./Messages">
            Hasło
        </a>
    </li>
</ul>