@page
@model SWZRFI.Areas.Identity.Pages.Account.ActionPanel.ApplicationsModel

@{
    ViewData["Title"] = "Applications";
    ViewData["ActivePage"] = ActionPanelNavPages.Applications;
    ViewData["ParentLayout"] = this.Layout;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <h4>Moje aplikacje TODO"</h4>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}