@page
@model SWZRFI.Areas.Identity.Pages.Account.ActionPanel.ConversationsModel


@{
    ViewData["Title"] = "Konwersacje";
    ViewData["ActivePage"] = ActionPanelNavPages.Conversations;
    ViewData["ParentLayout"] = this.Layout;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">

        @if (Model.Conversations == null)
        {
            <h6>Brak rozmów do wyświetlenia</h6>
        }
        else
        {
            @foreach (var conversation in Model.Conversations)
            {
                <h4 class="mt-0">@conversation.Title</h4>
                <small>
                    <a asp-page="./Index"
                       asp-route-id=@conversation.Id
                       style="margin-right:2px" 
                       value="Anuluj" 
                       class="btn btn-primary">Do konwersacji</a>
                </small>
            }
        }







    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}