@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["ActivePage"] = ActionPanelNavPages.Index;
    ViewData["ParentLayout"] = this.Layout;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <h4>Przejdź do zakładki wiadomości aby zobaczyć czas, lub "Moje aplikacje"" aby zobaczyć ich status."</h4>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}