@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>

<p>
        Proszę o potwierdzenie rejestracji, poprzez kliknięcie linku aktywacyjnego przesłanego na podany adres email.
</p>


