@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Pomyślnie zmieniono hasło naciśnij <a asp-page="./Login">tutaj</a> aby ponownie się zalogować.
</p>
