@using System.Linq
@model IEnumerable<SWZRFI.DAL.Models.JobOffer>

@{
    ViewData["Title"] = "Jobs";
}

@if (Model.Any())
{
    <div class="container">
        <div class="row">
            <h2>Aktualnie jest @Model.Count().ToString() dostępnych ogłoszeń</h2>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="media">
                    <div class="media-body">
                        <h4 class="mt-0">@item.Title</h4>
                        <small><a asp-action="JobOfferDetails" asp-route-id="@item.Id" class="btn btn-secondary btn-sm" role="button" style="margin-top: 10px">Zobacz szczegóły</a></small>
                    </div>
                </div>
            </div>
            <hr>
        }

    </div>

}
else
{
    <h1>Brak dostępnych ogłoszeń :(</h1>
}